@model EfcoreLayout.Models.LoanDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/CutomerLayout.cshtml";
}

<h1>Loan Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="LoanId" class="control-label"></label>
                <input asp-for="LoanId" class="form-control" value="@ViewBag.LoanID" disabled>
            </div>*@
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAmountGrantable" class="control-label"></label>
                <input asp-for="MaxAmountGrantable" class="form-control" />
                <span asp-validation-for="MaxAmountGrantable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" value=" 8.5" disabled/>
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenure" class="control-label"></label>
                <input asp-for="Tenure" class="form-control" />
                <span asp-validation-for="Tenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input type="date" asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" value="@ViewBag.ApplicationId" disabled>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>  
        </form>
    </div>
</div>



<script src="~/eligiblityjs.js"></script>

