
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminIndex</title>
</head>
<body>
    <p>
        Username:<br>
        Password:
    </p>
</body>
</html>
