
@{
    ViewData["Title"] = "Eligiblity";
    Layout = "~/Views/Shared/BankingMaster.cshtml";
}
<html>
<head>
    <title>Loan Calculator</title>

    <style>
        body {
            background-color: rgb(105, 105, 221);
            font-family: 'Trebuchet MS';
        }

        h1 {
            font-size: 35px;
        }

        h1 {
            font-size: 21px;
            margin-top: 20px;
        }

        .calculator {
            width: 400px;
            height: 450px;
            background-color: green;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            padding: 20px 0px 0px 100px;
            border-radius: 50px;
            color: white;
        }

        input {
            padding: 7px;
            width: 70%;
            margin-top: 7px;
        }
    </style>
</head>

<body>
    <div class="calculator">
        <h1>Loan Eligiblity Calculator</h1>

        <!-- Calling Calculate function defined in app.js -->
        <p>
            Monthly income (₹)     :
            <input id="monthlyincome" type="number"
                   onchange="Calculate()">
        </p>

        <p>
            Interest Rate  :
            <input id="rate" type="number" value="8.5" disabled>
        </p>



        <h2 id="eligiblity"></h2>
    </div>

    <script src="~/eligiblityjs.js"></script>
</body>

</html>
